In [1]:
import pandas as pd
import numpy as np

In [28]:
st_train=pd.read_csv('static_val.csv')
st_train

,id,hosp_admittime,hosp_dischtime,icu_intime,icu_outtime,los_icu,icu_death,gender,race,admission_age,...,ckd,cld,copd,diabetes,hypertension,ihd,stroke,los_icu_binned_1 to 2 days,los_icu_binned_2 to 4 days,los_icu_binned_4+ days
0,23169158,3/12/27 1:19,3/19/27 13:15,3/12/27 2:43,3/15/27 1:53,2.97,0,0,WHITE,84.191979,...,1,0,0,1,1,0,0,0.0,1.0,0.0
1,25936663,1/11/45 23:02,1/22/45 16:06,1/12/45 15:10,1/13/45 18:50,1.15,0,1,WHITE,65.032170,...,0,1,0,0,1,1,0,1.0,0.0,0.0
2,22758367,5/30/70 21:36,6/6/70 17:50,5/31/70 10:38,6/2/70 16:22,2.24,0,0,OTHER,35.410413,...,0,0,0,0,1,0,0,0.0,1.0,0.0
3,22620788,7/7/37 21:02,7/12/37 15:00,7/7/37 21:39,7/12/37 17:25,4.82,1,1,WHITE,69.514389,...,0,0,0,0,0,0,0,0.0,0.0,1.0
4,22010195,11/21/82 2:28,12/20/82 15:40,12/4/82 17:14,12/9/82 20:49,5.15,0,1,WHITE,72.887364,...,1,0,1,0,1,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935,29711357,7/23/75 14:02,8/16/75 18:18,7/24/75 19:51,7/27/75 17:10,2.89,0,0,WHITE,79.557397,...,0,0,0,1,0,1,1,0.0,1.0,0.0
1936,29757295,3/16/66 21:30,3/26/66 18:30,3/17/66 22:40,3/19/66 21:38,1.96,0,0,WHITE,67.205146,...,0,0,0,0,1,0,0,1.0,0.0,0.0
1937,29780073,12/25/33 8:30,1/2/34 14:40,12/26/33 4:02,12/30/33 17:44,4.57,0,1,WHITE,65.981142,...,0,0,1,1,1,1,0,0.0,0.0,1.0
1938,29905494,9/24/67 10:30,9/26/67 21:50,9/25/67 0:26,9/26/67 6:30,1.25,1,1,UNKNOWN,87.729482,...,1,0,1,1,0,1,0,1.0,0.0,0.0
1939,29961239,5/15/91 20:46,6/3/91 12:15,5/18/91 23:34,5/24/91 21:08,5.90,0,1,WHITE,74.370175,...,0,0,0,1,1,0,0,0.0,0.0,1.0

In [29]:
st_train.drop(['hosp_admittime','hosp_dischtime','icu_intime','icu_outtime'],axis=1,inplace=True)

In [30]:
st_train['multi_label']=st_train['los_icu'].apply(lambda x:0 if x<2 else(1 if 2<=x<=4 else 2))
st_train

,id,los_icu,icu_death,gender,race,admission_age,weight_admit,admission_type,first_careunit,charlson_score,...,cld,copd,diabetes,hypertension,ihd,stroke,los_icu_binned_1 to 2 days,los_icu_binned_2 to 4 days,los_icu_binned_4+ days,multi_label
0,23169158,2.97,0,0,WHITE,84.191979,79.1,OBSERVATION ADMIT,Medical/Surgical Intensive Care Unit (MICU/SICU),6,...,0,0,1,1,0,0,0.0,1.0,0.0,1
1,25936663,1.15,0,1,WHITE,65.032170,189.0,DIRECT EMER.,Surgical Intensive Care Unit (SICU),5,...,1,0,0,1,1,0,1.0,0.0,0.0,0
2,22758367,2.24,0,0,OTHER,35.410413,150.0,URGENT,Trauma SICU (TSICU),1,...,0,0,0,1,0,0,0.0,1.0,0.0,1
3,22620788,4.82,1,1,WHITE,69.514389,85.0,EW EMER.,Coronary Care Unit (CCU),2,...,0,0,0,0,0,0,0.0,0.0,1.0,2
4,22010195,5.15,0,1,WHITE,72.887364,120.0,EW EMER.,Coronary Care Unit (CCU),11,...,0,1,0,1,0,0,0.0,0.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935,29711357,2.89,0,0,WHITE,79.557397,88.0,EW EMER.,Medical Intensive Care Unit (MICU),6,...,0,0,1,0,1,1,0.0,1.0,0.0,1
1936,29757295,1.96,0,0,WHITE,67.205146,163.4,URGENT,Medical Intensive Care Unit (MICU),3,...,0,0,0,1,0,0,1.0,0.0,0.0,0
1937,29780073,4.57,0,1,WHITE,65.981142,120.8,SURGICAL SAME DAY ADMISSION,Trauma SICU (TSICU),5,...,0,1,1,1,1,0,0.0,0.0,1.0,2
1938,29905494,1.25,1,1,UNKNOWN,87.729482,104.0,SURGICAL SAME DAY ADMISSION,Medical/Surgical Intensive Care Unit (MICU/SICU),12,...,0,1,1,0,1,0,1.0,0.0,0.0,0
1939,29961239,5.90,0,1,WHITE,74.370175,100.2,EW EMER.,Medical Intensive Care Unit (MICU),6,...,0,0,1,1,0,0,0.0,0.0,1.0,2

In [31]:
st_train.drop(['los_icu_binned_1 to 2 days','los_icu_binned_2 to 4 days','los_icu_binned_4+ days'],axis=1,inplace=True)

In [32]:
st_train.drop(['los_icu'],axis=1,inplace=True)

In [33]:
st_train=pd.get_dummies(st_train)

In [34]:
st_train.to_csv('st_val_pcs.csv')

In [4]:
st_test=pd.read_csv('static_val.csv')
st_test

,id,hosp_admittime,hosp_dischtime,icu_intime,icu_outtime,los_icu,icu_death,gender,race,admission_age,...,ckd,cld,copd,diabetes,hypertension,ihd,stroke,los_icu_binned_1 to 2 days,los_icu_binned_2 to 4 days,los_icu_binned_4+ days
0,23169158,3/12/27 1:19,3/19/27 13:15,3/12/27 2:43,3/15/27 1:53,2.97,0,0,WHITE,84.191979,...,1,0,0,1,1,0,0,0.0,1.0,0.0
1,25936663,1/11/45 23:02,1/22/45 16:06,1/12/45 15:10,1/13/45 18:50,1.15,0,1,WHITE,65.032170,...,0,1,0,0,1,1,0,1.0,0.0,0.0
2,22758367,5/30/70 21:36,6/6/70 17:50,5/31/70 10:38,6/2/70 16:22,2.24,0,0,OTHER,35.410413,...,0,0,0,0,1,0,0,0.0,1.0,0.0
3,22620788,7/7/37 21:02,7/12/37 15:00,7/7/37 21:39,7/12/37 17:25,4.82,1,1,WHITE,69.514389,...,0,0,0,0,0,0,0,0.0,0.0,1.0
4,22010195,11/21/82 2:28,12/20/82 15:40,12/4/82 17:14,12/9/82 20:49,5.15,0,1,WHITE,72.887364,...,1,0,1,0,1,0,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935,29711357,7/23/75 14:02,8/16/75 18:18,7/24/75 19:51,7/27/75 17:10,2.89,0,0,WHITE,79.557397,...,0,0,0,1,0,1,1,0.0,1.0,0.0
1936,29757295,3/16/66 21:30,3/26/66 18:30,3/17/66 22:40,3/19/66 21:38,1.96,0,0,WHITE,67.205146,...,0,0,0,0,1,0,0,1.0,0.0,0.0
1937,29780073,12/25/33 8:30,1/2/34 14:40,12/26/33 4:02,12/30/33 17:44,4.57,0,1,WHITE,65.981142,...,0,0,1,1,1,1,0,0.0,0.0,1.0
1938,29905494,9/24/67 10:30,9/26/67 21:50,9/25/67 0:26,9/26/67 6:30,1.25,1,1,UNKNOWN,87.729482,...,1,0,1,1,0,1,0,1.0,0.0,0.0
1939,29961239,5/15/91 20:46,6/3/91 12:15,5/18/91 23:34,5/24/91 21:08,5.90,0,1,WHITE,74.370175,...,0,0,0,1,1,0,0,0.0,0.0,1.0

In [5]:
dy=pd.read_csv('dynamic_cleaned.csv')
dy

,id,charttime,aniongap,bicarbonate,bun,calcium,chloride,creatinine,glucose,sodium,potassium
0,28793466,4/12/29 3:35,16.0,21.0,12.0,8.8,106.0,0.6,154.0,139.0,3.8
1,26115624,9/7/50 0:22,12.0,22.0,9.0,7.9,111.0,0.6,97.0,141.0,3.6
2,28164589,3/11/59 1:11,12.0,34.0,58.0,8.3,103.0,2.1,89.0,146.0,3.4
3,20329785,5/12/34 19:32,11.0,38.0,31.0,10.1,88.0,0.8,95.0,133.0,4.0
4,24566943,6/25/55 15:45,16.0,22.0,45.0,8.7,106.0,2.2,173.0,140.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...
59447,27011221,7/27/15 11:06,9.0,37.0,16.0,9.1,93.0,0.8,199.0,139.0,4.9
59448,20345300,2/21/30 12:09,14.0,23.0,7.0,9.9,107.0,0.6,180.0,140.0,4.1
59449,24995393,5/3/84 4:04,15.0,20.0,26.0,7.7,107.0,2.0,96.0,138.0,3.8
59450,23078014,8/10/42 5:04,8.0,27.0,19.0,8.9,105.0,0.9,100.0,140.0,3.9
59451,27382401,12/20/41 6:27,22.0,17.0,27.0,6.4,103.0,5.8,311.0,142.0,3.6

In [6]:
dy_train = dy[dy['id'].isin(st_train['id'])]
dy_train

,id,charttime,aniongap,bicarbonate,bun,calcium,chloride,creatinine,glucose,sodium,potassium
0,28793466,4/12/29 3:35,16.0,21.0,12.0,8.8,106.0,0.6,154.0,139.0,3.8
1,26115624,9/7/50 0:22,12.0,22.0,9.0,7.9,111.0,0.6,97.0,141.0,3.6
2,28164589,3/11/59 1:11,12.0,34.0,58.0,8.3,103.0,2.1,89.0,146.0,3.4
3,20329785,5/12/34 19:32,11.0,38.0,31.0,10.1,88.0,0.8,95.0,133.0,4.0
5,21792938,4/13/28 14:18,11.0,28.0,46.0,7.1,96.0,5.0,95.0,130.0,5.2
...,...,...,...,...,...,...,...,...,...,...,...
59442,23355539,4/3/30 4:07,9.0,17.0,11.0,7.9,115.0,0.6,104.0,141.0,4.6
59444,25362058,9/16/29 3:30,29.0,13.0,44.0,8.0,102.0,1.9,226.0,140.0,4.2
59447,27011221,7/27/15 11:06,9.0,37.0,16.0,9.1,93.0,0.8,199.0,139.0,4.9
59449,24995393,5/3/84 4:04,15.0,20.0,26.0,7.7,107.0,2.0,96.0,138.0,3.8
59450,23078014,8/10/42 5:04,8.0,27.0,19.0,8.9,105.0,0.9,100.0,140.0,3.9

In [7]:
dy_train.to_csv('dynamic_train.csv')

In [8]:
dy_test = dy[dy['id'].isin(st_test['id'])]
dy_test

,id,charttime,aniongap,bicarbonate,bun,calcium,chloride,creatinine,glucose,sodium,potassium
4,24566943,6/25/55 15:45,16.0,22.0,45.0,8.7,106.0,2.2,173.0,140.0,4.0
12,26330031,6/19/45 0:56,15.0,19.0,31.0,8.2,107.0,2.4,132.0,136.0,4.7
18,20866960,1/16/20 0:00,12.0,21.0,27.0,7.2,107.0,0.8,195.0,136.0,4.1
28,28976602,1/18/17 19:19,12.0,27.0,43.0,8.7,97.0,1.2,100.0,132.0,4.0
29,29795533,2/19/58 2:00,12.0,24.0,39.0,7.9,103.0,0.9,177.0,139.0,4.5
...,...,...,...,...,...,...,...,...,...,...,...
59443,28144173,12/1/47 2:53,13.0,21.0,47.0,8.3,104.0,2.0,116.0,138.0,4.8
59445,27078182,11/14/88 5:55,12.0,31.0,91.0,8.6,99.0,2.6,117.0,137.0,4.8
59446,21808499,4/24/68 4:58,16.0,27.0,24.0,9.2,98.0,1.4,85.0,137.0,4.1
59448,20345300,2/21/30 12:09,14.0,23.0,7.0,9.9,107.0,0.6,180.0,140.0,4.1
59451,27382401,12/20/41 6:27,22.0,17.0,27.0,6.4,103.0,5.8,311.0,142.0,3.6

In [9]:
dy_test.to_csv('dynamic_test.csv')




<font color=black size=12 face=雅黑>Alive and Dead</font>

In [38]:
alive=pd.read_csv('static_cleaned_dead.csv')
alive

,id,hosp_admittime,hosp_dischtime,icu_intime,icu_outtime,los_icu,icu_death,gender,race,admission_age,...,malignant_cancer,chf,ckd,cld,copd,diabetes,hypertension,ihd,stroke,los_icu_binned
0,27780902,9/28/53 21:02,9/30/53 19:17,9/28/53 22:29,9/30/53 21:16,1.95,1,1,WHITE,47.741635,...,0,0,1,0,1,0,1,0,0,1 to 3 days
1,22987108,6/10/46 16:37,7/12/46 0:00,6/22/46 11:46,7/13/46 0:27,20.53,1,1,WHITE,69.439961,...,0,0,1,0,0,0,1,1,0,19 to 21 days
2,28762550,3/24/35 23:51,3/26/35 13:35,3/24/35 23:52,3/26/35 19:47,1.83,1,1,UNKNOWN,82.227229,...,0,1,0,0,0,0,1,1,0,1 to 3 days
3,24474381,2/6/35 12:43,2/8/35 18:33,2/6/35 12:45,2/8/35 21:23,2.36,1,1,WHITE - RUSSIAN,86.098778,...,0,1,1,0,0,1,1,1,1,1 to 3 days
4,20598872,1/10/30 7:22,1/24/30 14:40,1/10/30 8:55,1/24/30 17:18,14.35,1,1,WHITE,78.025569,...,0,1,1,0,0,1,1,1,0,13 to 15 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,29611628,10/26/27 3:17,10/28/27 8:25,10/26/27 4:48,10/28/27 12:08,2.31,1,1,WHITE - RUSSIAN,69.817110,...,0,1,1,0,0,1,1,1,0,1 to 3 days
1446,29700838,6/3/49 14:23,6/17/49 9:52,6/3/49 16:10,6/17/49 12:54,13.86,1,1,WHITE,84.420629,...,0,1,1,0,1,1,0,1,1,13 to 15 days
1447,29836978,12/5/10 20:53,12/8/10 14:49,12/7/10 0:35,12/8/10 14:50,1.59,1,0,WHITE,91.927796,...,0,1,0,0,0,0,1,1,0,1 to 3 days
1448,29905494,9/24/67 10:30,9/26/67 21:50,9/25/67 0:26,9/26/67 6:30,1.25,1,1,UNKNOWN,87.729482,...,1,1,1,0,1,1,0,1,0,1 to 3 days
1449,29961119,7/6/75 23:40,7/15/75 18:34,7/13/75 12:51,7/15/75 20:57,2.34,1,1,OTHER,91.511951,...,1,0,0,0,0,0,1,0,0,1 to 3 days

In [39]:
alive['multi_label']=alive['los_icu'].apply(lambda x:0 if x<2 else(1 if 2<=x<=4 else 2))
alive.drop(['hosp_admittime','hosp_dischtime','icu_intime','icu_outtime','los_icu_binned'],axis=1,inplace=True)
alive.drop(['los_icu'],axis=1,inplace=True)
alive=pd.get_dummies(alive)
alive

,id,icu_death,gender,admission_age,weight_admit,charlson_score,atrial_fibrillation,malignant_cancer,chf,ckd,...,admission_type_OBSERVATION ADMIT,admission_type_SURGICAL SAME DAY ADMISSION,admission_type_URGENT,first_careunit_Cardiac Vascular Intensive Care Unit (CVICU),first_careunit_Coronary Care Unit (CCU),first_careunit_Medical Intensive Care Unit (MICU),first_careunit_Medical/Surgical Intensive Care Unit (MICU/SICU),first_careunit_Neuro Surgical Intensive Care Unit (Neuro SICU),first_careunit_Surgical Intensive Care Unit (SICU),first_careunit_Trauma SICU (TSICU)
0,27780902,1,1,47.741635,167.0,6,0,0,0,1,...,False,False,False,False,False,True,False,False,False,False
1,22987108,1,1,69.439961,86.2,8,1,0,0,1,...,False,False,False,False,False,True,False,False,False,False
2,28762550,1,1,82.227229,94.3,8,0,0,1,0,...,False,False,True,False,True,False,False,False,False,False
3,24474381,1,1,86.098778,74.2,9,0,0,1,1,...,False,False,False,False,True,False,False,False,False,False
4,20598872,1,1,78.025569,66.7,8,0,0,1,1,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,29611628,1,1,69.817110,68.8,7,1,0,1,1,...,False,False,False,False,False,True,False,False,False,False
1446,29700838,1,1,84.420629,79.4,12,0,0,1,1,...,False,False,False,False,False,False,True,False,False,False
1447,29836978,1,0,91.927796,71.8,6,0,0,1,0,...,False,False,False,False,True,False,False,False,False,False
1448,29905494,1,1,87.729482,104.0,12,0,1,1,1,...,False,True,False,False,False,False,True,False,False,False
1449,29961119,1,1,91.511951,71.9,9,1,1,0,0,...,True,False,False,False,False,True,False,False,False,False

In [40]:
alive.to_csv('st_dead_pcs.csv')

In [41]:
X=alive.drop(['multi_label'],axis=1)
X

,id,icu_death,gender,admission_age,weight_admit,charlson_score,atrial_fibrillation,malignant_cancer,chf,ckd,...,admission_type_OBSERVATION ADMIT,admission_type_SURGICAL SAME DAY ADMISSION,admission_type_URGENT,first_careunit_Cardiac Vascular Intensive Care Unit (CVICU),first_careunit_Coronary Care Unit (CCU),first_careunit_Medical Intensive Care Unit (MICU),first_careunit_Medical/Surgical Intensive Care Unit (MICU/SICU),first_careunit_Neuro Surgical Intensive Care Unit (Neuro SICU),first_careunit_Surgical Intensive Care Unit (SICU),first_careunit_Trauma SICU (TSICU)
0,27780902,1,1,47.741635,167.0,6,0,0,0,1,...,False,False,False,False,False,True,False,False,False,False
1,22987108,1,1,69.439961,86.2,8,1,0,0,1,...,False,False,False,False,False,True,False,False,False,False
2,28762550,1,1,82.227229,94.3,8,0,0,1,0,...,False,False,True,False,True,False,False,False,False,False
3,24474381,1,1,86.098778,74.2,9,0,0,1,1,...,False,False,False,False,True,False,False,False,False,False
4,20598872,1,1,78.025569,66.7,8,0,0,1,1,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,29611628,1,1,69.817110,68.8,7,1,0,1,1,...,False,False,False,False,False,True,False,False,False,False
1446,29700838,1,1,84.420629,79.4,12,0,0,1,1,...,False,False,False,False,False,False,True,False,False,False
1447,29836978,1,0,91.927796,71.8,6,0,0,1,0,...,False,False,False,False,True,False,False,False,False,False
1448,29905494,1,1,87.729482,104.0,12,0,1,1,1,...,False,True,False,False,False,False,True,False,False,False
1449,29961119,1,1,91.511951,71.9,9,1,1,0,0,...,True,False,False,False,False,True,False,False,False,False

In [42]:
y=alive['multi_label']
y

0       0
1       2
2       0
3       1
4       2
       ..
1445    1
1446    2
1447    0
1448    0
1449    1
Name: multi_label, Length: 1450, dtype: int64

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [44]:
alive_train=pd.concat([X_train,y_train],axis=1)
alive_train.to_csv('st_dead_train.csv')

In [27]:
alive_test=pd.concat([X_test,y_test],axis=1)
alive_test.to_csv('st_dead_test.csv')

In [28]:
dy=pd.read_csv('dynamic_cleaned.csv')
dy_train = dy[dy['id'].isin(alive_train['id'])]
dy_train.to_csv('dynamic_dead_train.csv')

In [29]:
dy_test = dy[dy['id'].isin(alive_test['id'])]
dy_test.to_csv('dynamic_dead_test.csv')